# shared with all
/shared 192.168.150.0/24(rw,sync,no_root_squash,no_subtree_check)

# individual storage
{% for item in groups['worker-servers'] %}
/storage/{{ item }} 192.168.150.0/24(rw,sync,no_root_squash,no_subtree_check)
{% endfor %}