version: '3.9'
services:
    {{ etcd_cluster_name }}:
        image: {{ etcd_image }}
        command: etcd
        volumes:
            - /usr/share/ca-certificates:/etc/ssl/certs:ro
        env_file:
            - .env.etcd
        networks:
            - percona
        deploy:
            mode: replicated
            replicas: 1
            placement:
                constraints:
                    - node.role == manager

    {{ percona_cluster_name }}:
        image: {{ percona_image }}
        hostname: {% raw %}"{{.Service.Name}}.{{.Task.Slot}}"
{% endraw %}
        networks:
            - percona
        env_file: .env.percona
        volumes:
            - /shared/stacks/percona/certs:/certs
            - /storage/stacks/percona/data:/var/lib/mysql:rw
            - /storage/stacks/percona/config:/etc/percona-xtradb-cluster.conf.d:ro
            - /storage/stacks/percona/sql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
        deploy:
            mode: replicated
            replicas: 1
            placement:
                max_replicas_per_node: 1
                constraints:
                    - node.role == worker
        cap_add:
            - SYS_NICE
        depends_on:
            - percona_etcd

    percona-proxysql:
        image: {{ proxysql_image }}
        networks:
            - percona
            - proxysql
        env_file: .env.proxysql
        volumes:
            - /shared/stacks/percona/proxysql/config/proxysql.cnf:/etc/proxysql.cnf:ro
        deploy:
            mode: replicated
            replicas: 1
            placement:
                max_replicas_per_node: 1
                constraints:
                    - node.role == manager
        depends_on:
            - percona-cluster

networks:
    proxysql:
        driver: overlay
        attachable: true
    percona:
        driver: overlay
        internal: true
        attachable: true
        ipam:
            driver: default
            config:
                - subnet: 10.20.1.0/24
