version: '3.9'
services:
    haproxy:
        image: {{ haproxy_image }}
        ports:
            - published: 80
              target: 80
              protocol: tcp
              mode: ingress
            - published: 443
              target: 443
              protocol: tcp
              mode: ingress
            - published: 3306
              target: 3306
              protocol: tcp
              mode: ingress
        networks:
        {% for i in range(haproxy.networks | length) -%}
            - {{ haproxy.networks[i]['network'] }}
        {% endfor -%}
        volumes:
            - /shared/stacks/haproxy/config/haproxy.cfg:/etc/haproxy/haproxy.cfg:ro
        dns:
            - 127.0.0.11
            - 192.168.150.1
        deploy:
            mode: replicated
            replicas: 1
            placement:
                constraints:
                    - node.role == manager

networks:
    {% for i in range(haproxy.networks | length) -%}
    {{ haproxy.networks[i]['network'] }}:
        name: {{ haproxy.networks[i]['stack'] }}_{{ haproxy.networks[i]['network'] }}
        external: true
    {% endfor %}
