version: '3.9'
services:
  prometheus:
    image: prom/prometheus:v3.1.0
    networks:
      - monitoring
    volumes:
      - /shared/stacks/cluster-monitoring/prometheus/config/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - /shared/stacks/cluster-monitoring/prometheus/data:/prometheus
    restart: always
    user: '2000'
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker

  grafana:
    image: grafana/grafana:11.5.1
    networks:
      - monitoring
    environment:
      - GF_SERVER_ROOT_URL=https://grafana.office.lab
    volumes:
      - /shared/stacks/cluster-monitoring/grafana/data:/var/lib/grafana
    restart: always
    user: '2000'
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    hostname: '{% raw %}{{.Node.ID}}_cadvisor {{% endraw %}}'
    networks:
      - monitoring
    deploy:
      mode: global
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro

networks:
  monitoring:
    attachable: true
    driver: overlay