#!/usr/bin/env bash

# Based on
# https://github.com/percona/percona-docker/blob/main/proxysql/dockerdir/usr/bin/add_cluster_nodes.sh

# Script assumes that percona runs on every node
# and hostname set ot {%raw%}{{.Service.Name}}.{{.Task.Slot}}{%endraw%}
percona_hosts=(
        {%for item in range(groups['worker-servers'] | length)%}
                percona_{{percona_cluster_name}}.{{item}}
        {%endfor%}
)

# Drop every known Percona host
mysql -h $i -uroot -p$MYSQL_ROOT_PASSWORD -e "DELETE FROM mysql_servers"

for i in ${percona_hosts[@]}
do
        echo $i 
        mysql -h $i -uroot -p$MYSQL_ROOT_PASSWORD -e "GRANT ALL ON *.* TO '$MYSQL_PROXY_USER'@'$ipaddr' IDENTIFIED BY '$MYSQL_PROXY_PASSWORD'"
        mysql -h 127.0.0.1 -P6032 -uadmin -padmin -e "INSERT INTO mysql_servers (hostgroup_id, hostname, port, max_replication_lag) VALUES (0, '$i', 3306, 20);"
done

# update the first to be writeable

mysql -h 127.0.0.1 -P6032 -uadmin -padmin -e "INSERT INTO mysql_users (username, password, active, default_hostgroup, max_connections) VALUES ('$MYSQL_PROXY_USER', '$MYSQL_PROXY_PASSWORD', 1, 0, 200);"
mysql -h 127.0.0.1 -P6032 -uadmin -padmin -e "LOAD MYSQL SERVERS TO RUNTIME; SAVE MYSQL SERVERS TO DISK; LOAD MYSQL USERS TO RUNTIME; SAVE MYSQL USERS TO DISK;"